logs
*.log

pids
*.pid
*.seed

coverage
node_modules
bower_components
lib

.DS_Store

/demos/**/all.*
.idea/.name
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/react-motion.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/react_motion_node_modules.xml
